@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 89, 74, 78;
  --background-start-rgb: 255, 245, 247;
  --background-end-rgb: 255, 245, 247;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}